*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #2e2c2c;
    background-image: linear-gradient(to bottom, black, rgb(65, 62, 62),#201f1f);
}
.header__lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(to top, black, rgb(204, 204, 204),#2e2c2c);
}

.header__items{
    border: 10px, solid #2e2c2c; 
    padding: 10px;
    margin: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    border-style: groove;
    border-radius: 15px;
    background-color: #d4d6da;
} 
.header__items:hover {
    background-color: #6e6d6d;
}

.icono {
    width: 80px;
    height: 70px;
}

body{
    background-color: rgb(8, 6, 0);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(230, 235, 240);
    justify-content: center;
}



h1 {
    color: rgb(255, 8, 0);
    font-size: 45px;
    text-align: center;
} 

h2{
    color: rgb(173, 87, 87);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.imagenes {
    width: 650px;
    height: 400px;
    margin-top: 5px;
    border: 20px #e3f0e3;
}


.flex-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.imagen__index{
    border: #d1d1d1 solid;
    margin: 0 auto;
    width: 800px;
    height: 500px;
}


.parrafo{
    color: #d1d1d1;
    font-size: auto;
    margin: 10px;
    width: auto;
    height: auto;
}

.galeria--titulo{
    text-align: center;
    font-size: 54px;
    color: rgb(10, 148, 17);
    letter-spacing: 1px;
    margin-bottom: 2px;
}



/* .body-fondo{
    background-image: url(../resource/pearljamwall.jpg);
    background-size: cover;
    justify-content: center;
    
} */

.mapa{
    margin: 0 auto;
    width: 800px;
    height: 500px;}


.discografia{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    border-top: 5px;
    border-bottom: 10px;
    list-style: none;
    justify-content: center;
}
/* .discos{
    border: 4px, rgb(15, 175, 9);
    
} */
.c1{
    grid-area: 1/span 4;
}
.c2{
    grid-area: 2/1; 
}
.c3{
    grid-area: 2/3;
}
.c4{
    grid-area: 2/4;
}

button {
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 15px;
    color: #d1d1d1;
    background-color: #5db0d3;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(#5db0d3, #0c2763);
    font-size: 20px;

}

button:hover {
    background-image: linear-gradient( #0c2763, #5db0d3);
    transform: translate(2px, 3px);

}

.tour__lista{
    font-size: 27px;
    padding: 40px;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.redes{
    width: 200px;
    height: 90px;
}

.contacto__texto{
/*     display: flex;
    flex-direction: column;
    justify-content: center; */
    font-size: 30px;
    padding: 50px;
    margin-bottom: 30;
}
.contacto__items{
    margin-bottom: 150px;
/*     display: flex;
    flex-direction: column;
    justify-content: center; */
}


footer {
    background-color: rgb(43, 61, 226);
    background-image: linear-gradient(to top, black, rgb(43, 61, 226));
    margin-top: 100px;
    margin-bottom: 10px;
}

@media (min-width: 576px) and (max-width: 926px) {
    .discografia{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        border-top: 10px;
        border-bottom: 15px;
        justify-content: stretch}
    
    .discos{
        border: 4px, rgb(15, 175, 9);
    }
    .c1{
        grid-area: 1/span 4;
    }
    .c2{
        grid-area: 2/1; 
    }
    .c3{
        grid-area: 2/3;
    }
    .c4{
        grid-area: 2/4;
    }
}


/* tablet 

@media (min-width: 320px ) and (max-width: 575px) {
    
} */

.keyframe {
    animation-name: loop;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 5s;
    padding: 25px;
}

@keyframes loop {
    0% {
        background-color: #000000;
    }
    50% {
        background-color: #d1d3da;
    }
    100% {
        background-color: #000000;
    }
}