*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #2e2c2c;
}
.header__lista{
    list-style: none;
    padding: 10px 16px;
    background-color: rgb(204, 204, 204);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__items{
    border: 10px, solid #2e2c2c; 
    padding: 10px;
    margin: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    border-style: groove;
} 

body{
    background-color: rgb(8, 6, 0);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(230, 235, 240);
    justify-content: center;
}



h1 {
    color: rgb(255, 8, 0);
    font-size: 45px;
    text-align: center;
} 

h2{
    color: rgb(173, 87, 87);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

img {
    width: 490px;
    height: 300px;
    margin-top: 5px;
    padding: 10px;
    border: 20px #e3f0e3;
}

.flex-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.imagen__index{

    margin: 0 auto;
    width: 800px;
    height: 500px;
}


.parrafo{
    color: #d1d1d1;
    font-size: auto;
    margin: 10px;
    width: auto;
    height: auto;
}

.galeria--titulo{
    text-align: center;
    font-size: 54px;
    color: rgb(10, 148, 17);
    letter-spacing: 1px;
    margin-bottom: 2px;}

/* .body-fondo{
    background-image: url(../resource/pearljamwall.jpg);
    background-size: cover;
    justify-content: center;
    
} */

.mapa{
    margin: 0 auto;
    width: 800px;
    height: 500px;}


.discografia{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    border-top: 10px;
    border-bottom: 15px;
    
    justify-content: stretch;
}
.discos{
    border: 4px, rgb(15, 175, 9);
    
}
.c1{
    grid-area: 1/span 4;
}
.c2{
    grid-area: 2/1; 
}
.c3{
    grid-area: 2/3;
}
.c4{
    grid-area: 2/4;
}


.tour__lista{
    text-align: center;
    font-size: 30px;
    padding: 40px;
    margin-bottom: 300px;
    list-style: none;
    display: block;
}
.redes{
    width: 200px;
    height: 90px;
}

.contacto__texto{
    display: block;
    font-size: 30px;
    text-align: center;
    padding: 50px;
    margin-bottom: 30;
}
.contacto__items{
    margin-bottom: 150px;
}

footer {
    background-color: rgb(43, 61, 226);
    background-color: #4e44ac;
    margin-top: 100px;
    margin-bottom: 10px;
}