/* contacto*/
.contacto{
    &__texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 30px;
        padding: 50px;
        margin-bottom: 30;}
    &__items{
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;}
    &__btn{
        text-align: center;
        background-color: transparent;
        border: solid 1px rgb(148, 146, 146);
        color: antiquewhite;
        margin-left: 3rem;
        margin-right: 3rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
            &:hover{
                background-color:#ca2020;
                
        }
    }
    


} 