/* header */

.header{
    background-color: #2e2c2c;
background-image: linear-gradient(to bottom, black, #413e3e,#201f1f);
    &__lista{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-image: linear-gradient(to top, black, rgb(204, 204, 204),#2e2c2c);
    }
    
        &__items{
        border: 10px, solid #2e2c2c; 
        padding: 10px;
        margin: 2px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: italic;
        border-style: groove;
        border-radius: 15px;
        background-color: #d4d6da;
            &:hover{
                background-color: #3f4144;
        }
    } 
    
    
    &__tags {
        outline: none;
        text-decoration: none;
        color: #ca2020;
        &:hover{
            color: #f9faf9;
        }
    } 

    
    &__icono {
        width: 80px;
        height: 70px;
    }
}

