/* colores */
$color-principal: #000000 ;


/* color de letras */
$color-titulo:  #ff0000  ;
$color-subtitulo:  #cc8383;

/* tamaño de letras */
$contenido: 1rem;
$subtitulos: $contenido * 2;
$titulos: $contenido * 3;