@import "variables";
@import "header";
@import "contacto";
@import "operators";
@import "mediaqueries";

*{
    margin: 0px;
    padding: 0px;
}




/* body */

body{
    background-color: $color-principal;
    font-family: 'Roboto', sans-serif;
    color: rgb(230, 235, 240);
    justify-content: center;
    font-size: $contenido;
    @extend .text-centrado;
}



h1 {
    color: $color-titulo ;
    font-size: $titulos;
    text-transform: uppercase;
    @extend .text-centrado;
} 


h2{
    color: $color-subtitulo;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: $subtitulos;
    @extend .text-centrado;
}



/* Index */
.main {
    &--flex_container {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        @include flex (row, center, center);
    }

        
        &--imagen__index{
            border: #d1d1d1 solid;
            margin: 0 auto;
            width: 50rem;
            height: 31rem;
            }
            
        &--parrafo{
            color: #d1d1d1;
            font-size: $contenido;
            margin: 10px;
            width: auto;
            height: auto;
            }
            
    &--mapa{
        margin: auto;
        width: 50rem;
        height: 30rem;}
    }

/* galeria */
.imagenes {
    width: 40rem;
    height: 25rem;
    margin-top: 5px;
    border: 20px #e3f0e3;
}



/* .body-fondo{
    background-image: url(../resource/pearljamwall.jpg);
    background-size: cover;
    justify-content: center;
    
} */



/* discografia */

.discografia{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    border-top: 5px;
    border-bottom: 10px;
    list-style: none;
    justify-content: center;
    .discos{
        border: 4px, rgb(15, 175, 9);
    } 
    .c1{
        grid-area: 1/span 4;
    }
    .c2{
        grid-area: 2/1; 
    }
    .c3{
        grid-area: 2/3;
    }
    .c4{
        grid-area: 2/4;
    }
}
.discos__lista {
    list-style: none;    display: flex;
    flex-wrap: wrap;
    @include flex (column, center, center);
}
/* tour */
button {
    border: $color-principal 2px;
    border-radius: 15px;
    color: #d1d1d1;
    background-color: #5db0d3;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(#5db0d3, #0c2763);
    font-size: 20px;
    &:hover {
        background-image: linear-gradient( #0c2763, #5db0d3);
        transform: translate(2px, 3px);
    }
}

.tour {
    &__lista{
        font-size: 2rem;
        padding: 40px;
        margin-bottom: 50px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        @include flex (column, center, center)
}
}

/* footer */
.redes{
    width: 5rem;
    height: 4rem;
    margin-top: 50px;
    &:hover {
        transform: translate(2px, 3px)
    }
}

.footer {
    & {
    background-color: rgb(43, 61, 226);
    background-image: linear-gradient(to top,$color-principal, rgb(43, 61, 226));
    margin-top: 100px;
    margin-bottom: 10px;
}
}

.keyframe {
    animation-name: loop;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 5s;
    padding: 25px;
}

@keyframes loop {
    0% {
        background-color: $color-principal;
    }
    50% {
        background-color: #d1d3da;
    }
    100% {
        background-color: $color-principal;
    }
}