@import "variables";
@import "header";
@import "contacto";
@import "operators";
@import "mediaqueries";

*{
    margin: 0px;
    padding: 0px;
}




/* body */

body{
    background-color: $color-principal;
    font-family: 'Roboto', sans-serif;
    color: rgb(230, 235, 240);
    justify-content: center;
    font-size: $contenido;
    @extend .text-centrado;
}



h1 {
    color: $color-titulo ;
    font-size: $titulos;
    text-transform: uppercase;
    @extend .text-centrado;
    
} 


h2{
    color: $color-subtitulo;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: $subtitulos;
    @extend .text-centrado;
}




/* Index */

    .main--imagen__index{
        
        width: 100%;
        height: auto;
        }

/* galeria */
.imagenes {
    width: 34rem;
    height: 25rem;
    margin-top: 5px;
}


/* discografia */
.otrosdiscos {
    outline: none;
    text-decoration: none;
    color: #df7676;
    &:hover{
        color: #f9faf9;
        
    }
} 


.col-sm-3{
    margin-top: 10px;
    padding: 0;
}

.discos__lista {
    list-style: none;  
    display: flex;
    flex-wrap: wrap;
    @include flex (column, center, center);
} 



/* tour */
.button__tour {
    border: $color-principal 2px;
    border-radius: 15px;
    color: #d1d1d1;
    background-color: #5db0d3;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(#5db0d3, #0c2763);
    font-size: 20px;
    &:hover {
        background-image: linear-gradient( #0c2763, #5db0d3);
        transform: translate(2px, 3px);
    }
}


.tour {
    &__lista{
        font-size: 2rem;
        padding: 40px;
        margin-bottom: 50px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        @include flex (column, center, center)
}
}

/* footer */

.redes{
    color: #cacaca;
    width: 3rem;
    height: 2rem;
    text-decoration:none ;
    overflow: hidden;
    margin-top: 20px;
}
.redes:hover {
    transform: translate(2px, 3px)
}


.footer {
    & {
    margin-top: 50px;
    text-align: center;
    background-color: rgb(95, 101, 148);
    background-image: linear-gradient(to top, black, #413e3e,#201f1f);
    }
}


.keyframe {
    animation-name: loop;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 5s;
    padding: 25px;
}

@keyframes loop {
    0% {
        background-color: $color-principal;
    }
    50% {
        background-color: #d1d3da;
    }
    100% {
        background-color: $color-principal;
    }
} 