*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pearl{
    width: 70%;
    height: auto;
    display: flex;
    border: 1px solid #02213f;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

img{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.pearl__jam{
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
    background-image: linear-gradient(left, red, blue);
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

h1{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
}

.discografia__grid{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "pearljama pearljamb pearljamc" 
                "pearljama pearljame pearljamc"
                "pearljamd pearljame";

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.pearljama{
    grid-area: "pearljama";
    width: 80%;
    height: auto;
}
.keyframe {
    animation-name: loop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 5s;
    padding: 25px;
}
@keyframes loop {
    0% {
        width: 50%;
    }
    25% {
        height: 50%;
    }
    50% {
        background-color: #02213f;
    }
    100% {
        display: inline;
    }
}


.button:hover {
    transform: scale(105%, 105%);
    transition: 2s;
}
.texto__gardiente:before {
    content: '';
    display: inline;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(left,red,blue);
    mix-blend-mode: screen;
    position: absolute;
    top: 0px;
    bottom: 0px;
}
.pearljamb{
    grid-area: "pearljamb";
    background-image: url(../resource/pearl-jam-ten.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(left, red, blue);
}

.discografia__imagenes{
    width: 70%;
    height: auto;
}

.tour__grid{
    display: grid;
    grid-template-areas: "imagen principal card1 card1 card2 card2 card3 card3"
    "imagen principal none card4 card4 card5 card5 none"
    "imagen principal boton boton boton boton boton boton"
    ;
}
/* media quary para tablet */
/* @media (min-width: 576px) and (max-width: 992px){

    .discografia__grid{
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

media quary para celular
@media (min-width: 320px) and (max-width: 575px) */